<!-- Editable table -->
<div class="card">
    <h3 class="table-header">Inconsistencies Details - {{ this.currDictionary }}</h3>
    <div class="card-body">
      <div id="table" class="table-editable">
        <table class="table">
          <tr>
            <th class="table-header">Domain</th>
            <th class="table-header">Inconsistency</th>
          </tr>
     
          <tr *ngFor="let dataRow of data | keyvalue; let id = index;">
            <td>
              <span>{{dataRow.key}}</span>
            </td>
            <td>
              <span class="error_col">{{dataRow.value}}</span>
            </td>
          </tr>
        </table>
   
      </div>
    </div>
</div>